body {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "SempurnaJour";
  src: local("PerfectJour"), url('./fonts/PerfectJour.ttf')format("truetype");
}
@font-face {
  font-family: 'tonton-cafe';
  src: local("Hiragino Sans GB W3"),url('./fonts/Hiragino\ Sans\ GB\ W3.ttf') format("truetype");
}